body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0b0b0f;
  color: white;
}

/* HERO */
.hero {
  height: 60vh;
  background: url('https://images.unsplash.com/photo-1608889175123-8ee362201f81') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,0.7);
  padding: 40px;
  text-align: center;
  border-radius: 15px;
}

h1 {
  font-size: 45px;
}

.controls {
  margin-top: 20px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  width: 220px;
  background: #1a1a24;
  color: white;
}

button {
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background: #e50914;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff1e2d;
}

/* MOVIES */
#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  padding: 40px;
}

/* CARDS */
.movie-card {
  background: #141414;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s;
}

.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.movie-card h4 {
  padding: 10px;
}

/* HOVER */
.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(229, 9, 20, 0.6);
}

/* HEART */
.movie-card button {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222;
}
