body {
  background: #0d0d0d;
  color: white;
  font-family: Arial;
  text-align: center;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
